.launch-card-link {
  display: block;
  text-decoration: none;
}

.launch-card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 100%;
  margin-bottom: 10px;
    border: double;
flex-direction: row;
    margin-left: 100px;
    margin-right: 100px;
}

.launch-card__header {
  display: flex;
  margin-left: 50px;
  gap: 50px;
  align-items: center;
  flex-shrink: 0;

    min-width: 120px;

}

.launch-card__image {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.launch-card__image-placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.launch-card__status {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  white-space: nowrap;
}

.launch-card__rocket {
  margin: 0;
  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
  }
}

.launch-card__body {
    flex: 1;
    align-items: center;
    gap: 250px;
    display: flex
;
    margin-left: 100px;

}

.launch-card__date {
  margin: 0;
}

.launch-card__title {
  margin: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
